<!DOCTYPE html>
<html lang="{{ current_lang }}">
{% include "TestBundle:Default:head.html.twig" %}
<body>
<div class="bg">
<div class="bg2">
{% block livera %}{% endblock %}
</div>
</div>
</body>
</html>
